{%include 'blocks/head.html'%}
<html lang="en">
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            {%include 'blocks/sidebar.html'%}
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                {%include 'blocks/navbar.html'%}
                <!-- Page content-->
                <div class="container-fluid">
                    <h2 class="mt-4">Как устроены времена в греческом</h2>
                <!-- Table -->
                {%include 'blocks/tenses_table.html'%}
                <!-- Text -->
                {%include 'texts/tenses_text.html'%}
                </div>
            </div>
        </div>
    </body>
</html>
