{%block text%}
<p>
    1. Υπερσυντέλικος - предпрошедшее время.<br><br>
     Оно в греческом языке обозначает событие, которое закончилось к определённому моменту в прошлом. Используется, когда в прошлом произошли два события. Событие, произошедшее раньше, обозначается Υπερσυντέλικος. Образуется с помощью вспомогательного глагола έχω в прошедшем времени и инфинитива смыслового глагола.
    <br><br>Пример: Ο Γιώργος μου είπε ότι είχε ήδη διαβάσει αυτό το βιβλίο — Джордж сказал мне, что уже прочитал эту книгу.
</p>
{%endblock%}
