{%include 'blocks/head.html'%}
<html>
    <body>
        <div class="d-flex" id="wrapper">
            {%include 'blocks/sidebar.html'%}
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                {%include 'blocks/navbar.html'%}
                <!-- Page content-->
                <div class="container-fluid">
                    <h2> Αόριστος == Past Simple </h2><br>
                    <p>То есть это время, которое говорит о неопределенном, непродолжительном и незавершенном прошлом<br>
                    Пример из английского: "I wrote". Скорее это можно перевести как "я писал", а не "я написал", поскольку в "написал"
                    мы вкладываем окончательный смысл, т.е. "я писал-писал и вот наконец написал".<br><br>

                    Примеры из эллиники:<br>
                    Εγο εγραψα - я писал<br>

                    </p>
                </div>
            </div>
        </div>
    </body>
</html>