{%extends 'main.html'%}
{%block content%}

<h2> Αόριστος == Past Simple </h2><br>
<p>То есть это время, которое говорит о неопределенном, непродолжительном и незавершенном прошлом<br>
Пример из английского: "I wrote". Скорее это можно перевести как "я писал", а не "я написал", поскольку в "написал"
мы вкладываем окончательный смысл, т.е. "я писал, писал и вот наконец написал".<br><br>

Вообще, на самом деле, это отдельная форма глагола, к которой греки часто обращаются. Поскольку кроме прошедшего времени, аорист может использоваться и в качестве будущего времени.<br>
Например, Θα εγραψα ή Θα ηθελα - это аорист, но благодаря частице Θα - это будущее моментальное время (Future simple).<br>
    См.<a href="/tenses/μέλλοντας_στιγμιαίος/">μέλλοντας στιγμιαίος</a><br><br>

Примеры из эллиники:<br>
Εγο εγραψα - я писал<br>

</p>
{%endblock%}