{%load static%}
{%include 'blocks/head.html'%}
<html>
<body>
    <div class="d-flex" id="wrapper">
        {%include 'blocks/sidebar.html'%}
        <div id="page-content-wrapper">
            {%include 'blocks/navbar.html'%}
            <div class="container-fluid">
                <p>
                    <h2> Υπερσυντέλικος == Past Perfect! </h2><br>

                    То есть это время для описания событий, свершившихся в прошлом и там же законченных<br>

                    Всегда идет с глаголом είχα, то есть "had", то есть "имел"<br><br>

                    <b>Как сделать предложение Υπερσυντέλικος самостоятельно без регистрации и смс:</b><br><br>

                    Инструкция в картинке:<br>
                <figure>
                    <img src="{%static 'review/images/past-perfect-instruction.png'%}"
                         autocapitalize="on"><br>
                    <figcaption>
                        Источник: <a href="https://www.greekgrammar.eu/pdffiles/pastperf.pdf">https://www.greekgrammar.eu/pdffiles/pastperf.pdf</a>
                    </figcaption>
                </figure>

                Расшифрую по пунктам:<br><br>

                1. Короче, сначала нужно найти основу глагола, без всяких окончаний, даже без инфинитивного -ω<br>
                В зависимости от падежа основы и её же последней буквы, переделать последнюю букву этой самой основы.
                Например, основу -γραφ- переделали в -γραψ- и т.д.<br><br>

                2. Затем надо к этой замечательной основе прибавить окончание -ει и получить <s>единственно верную</s> необходимую форму глагола

                3. Прибавить спереди глагол "имел" в любом лице, в каком пожелаешь<br><br>

                Пример: Я вчера днем я начал играть на гитаре и тем же вечером закончил<br>
                Είχα αρχίσει να παίζω κιθάρα χθες το πρωί και παρά το βράδυ σταμάτησα<br><br>


                </p>
            </div>
        </div>
    </div>
</body>
</html>