{%block times%}
 <table>
  <caption>По источнику: https://greek-lessons.livejournal.com/8915.html</caption>
  <tr>
    <td rowspan="2">&nbsp;</td>
    <th scope="col" colspan="3">Времена</th>
  </tr>
   <tr>
     <th scope="col">Παρελθόν - Прошедшее</th>
     <th scope="col">Παρόν - Настоящее</th>
     <th scope="col">Μέλλον - Будущее</th>
   </tr>
   <tr>
     <th scope="col">Στιγμιαίος Imperfective (Simple-формы)</th>
     <td><a href="/tenses/αόριστος">Αόριστος</a></td>
     <td rowspan="2"><a href="/tenses/ενεστότας">Ενεστότας</a><br>(здесь как в русском)</td>
     <td><a href="/tenses/μέλλοντας_στιγμιαίος">Μέλλοντας στιγμιαίος</a></td>
   </tr>
   <tr>
     <th scope="col">Длящееся (Continuous-формы)</th>
     <td><a href="/tenses/παρατατικός">Παρατατικός</a></td>
     <td><a href="/tenses/μέλλοντας_διαρκείας">Μέλλοντας διαρκείας</a></td>
   </tr>
   <tr>
     <th scope="col">Συντελεσμένος Perfect (Perfect-формы)</th>
     <td><a href="/tenses/υπερσυντέλικος">Υπερσυντέλικος</a></td>
     <td><a href="/tenses/παρακείμενος">Παρακείμενος</a></td>
     <td><a href="/tenses/μέλλοντας_συντελεσμένος">Μέλλοντας συντελεσμένος</a></td>
   </tr>
</table>
{%endblock%}