{%block times%}
<html>
 <table>
    <caption>По источнику: https://greek-lessons.livejournal.com/8915.html</caption>
    <tr>
        <td>&nbsp;</td>
        <th scope="col">Предпрошедшее</th>
        <th scope="col">Прошедшее</th>
        <th scope="col">Настоящее</th>
        <th scope="col">Будущее</th>
    </tr>
    <tr>
        <th scope="col">Несовершенное</th>
        <td>&nbsp;</td>
        <td>Παρατατικός</td>
        <td>Ενεστότας</td>
        <td>Εξακολουθητικός</td>
    </tr>
    <tr>
        <th rowspan="2">Совершенное</th>
        <td rowspan="2"><a href="/tenses/υπερσυντέλικος">Υπερσυντέλικος (Past Perfect)</a></td>
        <td rowspan="2"><a href="/tenses/αόριστος">Αόριστος (Past Simple)</a></td>
        <td rowspan="2">Παρακείμενος</td>

        <td rowspan="2">Στιγμιαίος/Διαρκείας</td>
    </tr>
</table>
</html>
{%endblock%}