{%block times%}
<html>
 <table>
  <caption>По источнику: https://greek-lessons.livejournal.com/8915.html</caption>
  <tr>
   <td>&nbsp;</td>
   <th scope="col">Предпрошедшее</th>
   <th scope="col">Прошедшее</th>
   <th scope="col">Настоящее</th>
   <th scope="col">Будущее</th>
  </tr>
  <tr>
   <th scope="col">Несовершенное</th>
   <td rowspan="6"><a href="/tenses/υπερσυντέλικος"> Υπερσυντέλικος </a></td>
   <td>Παρατατικός</td>
   <td>Ενεστότας</td>
   <td>Εξακολουθητικός</td>
  </tr>
  <tr>
   <th>Совершенное</th>
   <td>Αόριστος</td>
   <td>Παρακείμενος</td>
  </tr>

 </table>
</html>
{%endblock%}